
html {
    background: lightgray;
}

body {
    margin: 20px;
    padding: 20px;
    background: white;
}

.container {
    margin: 20px auto;
}

.container input {
    height: 2.5em;
    visibility: hidden;
}

.container label {
    float: left;
    background: #f9f9f9;
    border-radius: .25em .25em 0 0;
    color: #888;
    cursor: pointer;
    display: block;
    font-size: 1em;
    height: 2.5em;
    line-height: 2.5em;
    margin-right: .25em;
    padding: 0 1.5em;
    text-align: center;
}

.container input:hover + label {
    background: #ddd;
    color: #666;
}

.container input:checked + label {
    background: #f1f1f1;
    color: #444;
    position: relative;
    z-index: 6;
}

.container > .content {
    background: #f1f1f1;
    border-radius: 0 .25em .25em .25em;
    min-height: 20em;
    position: relative;
    width: 100%;
    z-index: 5;
}

.container > .content > .content-1,
.container > .content > .content-2 {
    opacity: 0;
    padding: 1.5em;
    position: relative;
    display: none;
    z-index: -100;
}

.container > input#tab-1:checked ~ .content > .content-1,
.container > input#tab-2:checked ~ .content > .content-2 {
    opacity: 1;
    z-index: 100;
    display: block;
}

input.visible {
    visibility: visible !important;
}

.causes .line {
    color: gray;
}

.causes .line .classname {
    color: lightcoral;
}

.causes .line .filename {
    color: cadetblue;
}

.stacktrace pre {
    border: 1px solid gray;
    background: silver;
    padding: 10px;
}
